
.users {
    width: 70px;
    background-color: red;
    display: flex;
    flex-direction: column;
    .avatar {
        width: 60px;
        height: 60px;
        margin: 5px;
        border-radius: 40%;
        background-color: yellow;
        transition: 100ms;

        display: flex;
        // justify-content: center;
        align-items: center;
        .name {
            display: none;
            --avt-bg-color: #999;
            margin-left: 70px;
            position: absolute;
            padding: 5px 10px;
            background-color: var(--avt-bg-color);
            text-align: center;
            &::before {
                content: '';
                position: absolute;
                margin-top: 6px;
                margin-left: -15px;
                transform: rotate(45deg);
                background: var(--avt-bg-color);
                width: 10px;
                height: 10px;
            }
        }
        &:hover {
            border-radius: 30%;
        }
        &:hover .name {
            display: block;
        }
    }
}