
.users {
    width: 70px;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.users .avatar {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: yellow;
    transition: 100ms;

    display: flex;
    // justify-content: center;
    align-items: center;
    cursor: pointer;
    .name {
        user-select: none;
        display: none;
        color: white;
        --avt-bg-color: #666;
        margin-left: 70px;
        position: absolute;
        padding: 5px 10px;
        background-color: var(--avt-bg-color);
        text-align: center;
        cursor: default;
        border-radius: 5px;
        &::before {
            content: '';
            position: absolute;
            margin-top: 6px;
            margin-left: -15px;
            transform: rotate(45deg);
            background: var(--avt-bg-color);
            width: 10px;
            height: 10px;
        }
    }
    border-radius: 50%;
    &:hover { border-radius: 40%; }
    &:active { border-radius: 35% }
    &.active { border-radius: 30% }
    &:hover .name {display: block;}
    .name:hover {display: none;}
}